* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("/casablanca1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  height: auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  background: whitesmoke;
  width: 100%;
  z-index: 999;
}

.nav .fa-hamburger {
  padding: 10px 10px;
  color: green;
  font-size: 24px;
}

.nav .date {
  margin-left: auto;
  padding: 10px 10px;
  color: green;
  font-size: 20px;
  font-weight: bolder;
}

.coran {
  display: none;
}

.coran {
  display: block;
  background: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coran .kitab {
  color: whitesmoke;
  margin: 0 auto;
  padding: 10px 0px;
  font-size: 18px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 10px;
  min-width: 90%;
  min-height: 100px;
  background: whitesmoke;
  margin: 10px;
  border-radius: 20px;
  opacity: 80%;
}

input {
  width: 60%;
  border: 1px solid green;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
  margin: 5px 0px;
}

.city {
  color: green;
  font-weight: bold;
  font-size: 20px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secondWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 90%;
  min-height: 300px;
  width: 90%;
  height: 300%;
  background: whitesmoke;
  margin: 20px;
  border-radius: 20px;
  padding: 10px 10px;
  border: 1px solid green;
  opacity: 80%;
}

.fa-temperature-high {
  padding: 6px 0px;
  font-size: 18px;
  color: black;
}

button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.fajer {
  color: #4CAF50;
  font-size: 18px;
}

footer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 100px;
  background: whitesmoke;
}

.main2 {
  display: none;
}

@media screen and (min-width: 600px) {
  main {
    display: none;
  }
  .main2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
  }
  .main2 div {
    font-size: 25px;
    font-weight: bolder;
    color: green;
  }
}
/*# sourceMappingURL=style.css.map */